<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sneha.medireq" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactInformationActivity"
            android:label="@string/title_activity_contact_information" >
        </activity>
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer" >
        </activity>
        <activity
            android:name=".PastConditionsActivity"
            android:label="@string/title_activity_past_conditions" >
        </activity>
        <activity
            android:name=".SurgicalHistory"
            android:label="@string/title_activity_surgical_history" >
        </activity>
        <activity
            android:name=".MedicalAllergies"
            android:label="@string/title_activity_medical_allergies" >
        </activity>
        <activity
            android:name=".BehaviorActivity"
            android:label="@string/title_activity_behavior" >
        </activity>
        <activity
            android:name=".FamilyHistoryActivity"
            android:label="@string/title_activity_family_history" >
        </activity>
    </application>

</manifest>
